.nav_img {
    height: 40px;
    width: 100px;
    object-fit: cover;
    padding-top: 0%;
    float: right;
  }
  
  nav {
    width: 100%;
    background: black;
    box-shadow: 0 5px 5px #fd6621;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  nav a {
    font-size: 3vw;
    margin-right: 10px;
    text-decoration: none;
    color: #fdfdfd;
    padding: 0px 20px;
  }
  
  nav a:hover {
    background: #fd6721;
    color: black;
  }